<div class="question">
  <p class="title"><%= params[:question] %></p>
  <p class="person">- You</p>
</div>

<br>

<div class="answer">
  <p class="title"><%= @answer %></p>
  <p class="person">- Your coach</p>
</div>

<%= link_to "Ask another question", ask_path %>
